* {
   -webkit-font-smoothing: subpixel-antialiased;
   text-rendering: optimizeLegibility
}

.sec-hello {
   vertical-align: middle;
}

#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: white; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:-1;
	}


	/* Layer with position absolute in order to have it over the video
	* (and hide the video navigation controls on mouse move)
	* --------------------------------------- */
	.sec-hello .layer{
		/*position: relative;*/
      z-index: 5;
		/*width: 100%;
		left: 0;
		top: 0;*/
	}

	/*solves problem with overflowing video in Mac with Chrome */
	.sec-hello {
		overflow: hidden;
	}

.hello-header {
    font-family: Montserrat;
    font-size: 55px;
    text-indent: -3px;
    color: #FDFDFD
}

.hello-body {
    font-family: Raleway;
    font-weight: 200;
    font-size: 20px;
    text-indent: 0px;
    color: #FDFDFD;
}

.affordance {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    position: absolute;
    top: 82%;
    left: calc(50% - 40px);
    opacity: 100;
    display: flex;
}

#arrowLeft {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  animation: dash 2s linear forwards;
  animation-delay: 3s;
  width: 50px;
  height: 50px;
  /*margin-bottom: -18px;*/
}

#arrowRight {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  animation: dash 2s linear forwards;
  animation-delay: 3s;
  width: 50px;
  height: 50px;
  /*margin-top: -27px*/
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.sec-who .layer{
   position: relative;
   z-index: 5;
   /*width: 100%;
   left: 0;
   top: 0;*/
}

/*solves problem with overflowing video in Mac with Chrome */
.sec-who {
   overflow: hidden;
}

.who-header {
    font-family: Montserrat;
    font-size: 50px;
    text-indent: -3px;
    color: #fff;
}

.who-body {
    font-family: Raleway;
    font-weight: 200;
    font-size: 18px;
    text-indent: 0px;
    color: #fff;
}

.resume-button-container {
   padding-left: 20px;
}

.resume-button {
   background-color: #F5EA6C;
   font-family: Raleway
}

.what-header {
   font-family: Montserrat;
   font-weight: Light;
   font-size: 50px;
   text-indent: -3px;
   text-align: center;
}

.what-top-body {
   font-family: Raleway;
   font-weight: lighter;
   font-size: 15px;
}

.what-subtitle {
   font-family: Montserrat;
   font-weight: Light;
}

.what-body {
   font-family: Raleway;
   font-weight: lighter;
   font-size: 18px;
}

.work-header {
   font-family: Montserrat;
   font-weight: Light;
   font-size: 50px;
   text-indent: -3px;
   text-align: center;
   margin-bottom: 40px;
   margin-top: 20px;
}

.caption {
   font-family: Raleway;
   font-size: 12px;
}

h4 {
   font-size: 15px;
   margin-top: 4px;
   margin-bottom: 4px;
}

h4.caption {
   margin-top: +7px;
}

.thumbnail {
   transition: background-color 0.5s ease;
   background-color: #99A9BA;
   border: none;
   padding-bottom: 0px;
}

a.thumbnail:hover {
   background-color: #F5EA6C;
}


.frontpage_square{
   position:relative;
   overflow:hidden;
   padding-bottom:100%;
}

.frontpage_square img {
    position: absolute;

}

.contact-header {
   font-family: Montserrat;
   font-weight: Light;
   font-size: 50px;
   text-indent: -3px;
   text-align: center;
   color: #F5EA6C;
}

.contact-body {
   font-family: Raleway;
   font-weight: lighter;
   font-size: 30px;
   letter-spacing: 2px;
   text-align: center;
   margin: 25px;
}

.contact-body a {
   color: #000
}


/* COLORS */
/*.sec-hello {
   background-image: linear-gradient(to bottom, #99A9BA, #8299B7)
}

.sec-who {
   background-image: linear-gradient(to bottom, #8299B7, #6B89B3);
}

.sec-what {
   background-image: linear-gradient(to bottom, #6B89B3, #557AB0)
}

.sec-work {
   background-image: linear-gradient(to bottom, #557AB0, #3E6AAC)
}

.sec-contact {
   background-image: linear-gradient(to bottom, #3E6AAC, #275AA9)
}*/

/*.sec-contact {
   background-image: linear-gradient(to top, #99A9BA, #8299B7)
}

.sec-work {
   background-image: linear-gradient(to top, #8299B7, #6B89B3);
}

.sec-what {
   background-image: linear-gradient(to top, #6B89B3, #557AB0)
}

.sec-who {
   background-image: linear-gradient(to top, #557AB0, #3E6AAC)
}

.sec-hello {
   background-image: linear-gradient(to top, #3E6AAC, #275AA9)
}*/

.sec-hello {
   background-color: #dd585a
}

.sec-who {
   background-color: rgba(0, 0, 0, 0.4);;
}

.sec-what {
   background-color: #58A04F
}

.sec-work {
   background-color: #4EAAD9
}

.sec-contact {
   background-color: #dd585a
}
